# <--- GENERAL --->
# logging-debug configuration, based on https://www.npmjs.com/package/debug
DEBUG=app:*,express:false
# log meta data of requests
META=true
# port of the server
PORT=5000
# artificial delay to add to each web-request before propagating (development purpose only)
ARTIFICIAL_DELAY=-1

# <--- DATABASE (MongoDB) --->
# database to use
DATABASE_DB=test-db
# database host
DATABASE_HOST=127.0.0.1
# port of the database
DATABASE_PORT=27017
# user of for the database
DATABASE_USER=test-user
# password for the database user
DATABASE_PASSWORD=password

# <--- AUTHENTICATION --->
# secret for JWT access token
ACCESS_TOKEN_SECRET=access_token_dummy
# expiration timeout (seconds) for the JWT access token
ACCESS_TOKEN_EXPIRATION=3600
# secret for JWT refresh token
REFRESH_TOKEN_SECRET=refresh_token_dummy
# expiration timeout (seconds) for the JWT refresh token
REFRESH_TOKEN_EXPIRATION=86400

# <--- E-MAIL --->
# host of smtp server
SMTP_HOST=127.0.0.1
# port of smtp server
SMTP_PORT=587
# secure smtp server
SMTP_SECURE=false
# use tls for smtp
SMTP_TLS=true
# smtp user
SMTP_USER=test@local.test
# smtp password
SMTP_PASSWORD=password
# default e-mail sender
SMTP_SENDER=test@local.test
# title (heading) for e-mails
EMAIL_TITLE="Dummy Title"
# link for password reset - $passwordRequestId gets replaced by passwordRequestId
EMAIL_PASSWORD_RESET_LINK="http://127.0.0.1/reset-password/$passwordRequestId"

# <--- PAGING --->
# max elements allowed to return for GET requests (if paging used)
MAX_PER_PAGE=30

# <--- AWS S3 BUCKET --->
# used aws region
AWS_REGION=eu-north-1
# used aws api version
AWS_API_VERSION=2006-03-01
# aws access key id
AWS_ACCESS_KEY_ID=
# aws access key secret
AWS_SECRET_ACCESS_KEY=
# aws bucket name
AWS_BUCKET_NAME=
# allowed mimetypes for the S3 bucket (normally pictures only)
ALLOWED_MIME_TYPES="image/png;image/jpeg"
